#!/bin/bash

## Base Settings
BASEDIR="/opt/james/"
TMPDIR="/tmp"
MAINLOG="/var/log/james.log"

## Alert Settings (XMPP)
XMPPUSER="alert"
XMPPDOMAIN=""
XMPPPASS=""
XMPPTARGET=""

## Rsync options
RSYNCPW=
RSYNCTARGET="USER@HOST::PATH"

## Proximity Setting
# You'll need to use the MAC address of your phone here
PINGDEVICEMAC=""
# The Computers MAC address
COMPUTERMAC=""
# The Computers network interface
NETINTERFACE="eth0"
# Proximity timeouts
PLONG=900
PSHORT=30

## Email settings
EMAIL=

## Internal Paths (you probably won't have to change them)
BOTDIR="$BASEDIR/bot"
ALERT="$BASEDIR/scripts/alert.sh"
MACVENDORFILE="$BASEDIR/data/oui.txt"
NEWFILE="$BASEDIR/data/whoisonline.new"
WHOISONLINE="$BASEDIR/scripts/whoisonline.sh"
PSTATEFILE="$TMPDIR/prx_state.dat"
PDBGLOG="$TMPDIR/james.proximity.log"
BOTFORCERESTART="$TMPDIR/restart_james.tmp"
ALERTLOG="$TMPDIR/james.alert.log"