#!/bin/bash

## Base Settings
BASEDIR="/opt/james/"
TMPDIR="/tmp"

#please don't use FQDN
ALERTHOST="localhost"
RASPHOST="localhost"
PROXIMITYHOST="localhost"
XBMCHOST="localhost"

## Alert Settings (XMPP)
XMPPUSER="alert"
XMPPDOMAIN=""
XMPPPASS=""
XMPPTARGET=""

## Rsync options
RSYNCPW=
RSYNCTARGET="USER@HOST::PATH"

## Proximity Setting
# You'll need to use the MAC address of your phone here
PINGDEVICEMAC=""
# The Computers MAC address
COMPUTERMAC=""
# The Computers network interface
NETINTERFACE="eth0"
# Proximity timeouts
PLONG=900
PSHORT=20

## Email settings
EMAIL=

## Transmission Download settings
TRHOST=""
TRPORT=9091
TRUSER=""
TRPASS=""

## Internal Paths (you probably won't have to change them)
BOTDIR="$BASEDIR/bot"
MOTIONDIR="$TMPDIR/motion/"
ALERT="$BASEDIR/scripts/alert.sh"
WHOISONLINE="$BASEDIR/scripts/whoisonline.sh"
MACVENDORFILE="$BASEDIR/data/oui.txt"
NEWFILE="$BASEDIR/data/whoisonline.new"
PSTATEFILE="$TMPDIR/james.proximity.state"
PDBGLOG="$TMPDIR/james.proximity.log"
BOTFORCERESTART="$TMPDIR/james.jabber.force_restart"
ALERTLOG="$TMPDIR/james.alert.log"
ALERTMESSAGES="$TMPDIR/james.alert.messages"
ALERTCACHE="$BASEDIR/data/alert.cache"
