<?php
# Settings for PHP scripts
$GLOBALS['basedir'] = "/opt/james/";
date_default_timezone_set('Europe/Zurich');


# Transmission Settings
$GLOBALS['truser'] = "";
$GLOBALS['trpass'] = "";
$GLOBALS['trhost'] = "";
$GLOBALS['trport'] = 9091;
$GLOBALS['trurl']  = "/transmission/rpc";

# You probaby won't have to change theese
$GLOBALS['newEvent'] = $GLOBALS['basedir'] . "/new_event.sh";


# please leave this alone!
function alert($message) {
	exec($GLOBALS['newEvent'] . " alert \"". $message ."\"");
	return $message;
}
?>
