<?php
# Settings for PHP scripts
$GLOBALS['basedir'] = "/opt/james/";
date_default_timezone_set('Europe/Zurich');


# Transmission Settings
$GLOBALS['truser'] = "";
$GLOBALS['trpass'] = "";
$GLOBALS['trhost'] = "";
$GLOBALS['trport'] = 9091;
$GLOBALS['trurl']  = "/transmission/rpc";

# XBMC Settings
$GLOBALS['xbuser'] = "xbmc";
$GLOBALS['xbpass'] = "";
$GLOBALS['xbhost'] = "";
$GLOBALS['xbport'] = 9090;
$GLOBALS['xburl']  = "/jsonrpc";

# Settings for RaspBerryPi James Module
$GLOBALS['QUITTIME'] = 3;
$GLOBALS['BUTTONRESET'] = 5;
$GLOBALS['LOOPUSLEEP'] = 5000;
$GLOBALS['PWRLEDLOOPBLINK'] = 2452;
$GLOBALS['ATHOMECHECKLOOPS'] = 3000;
$GLOBALS['LEDS'] = array(0, 1, 2, 3);
$GLOBALS['BUTTONS'] = array(4, 5, 6, 7);

?>
